.not-found {
  background: linear-gradient(113.16deg, #19628B 20.26%, #0E4D70 71.7%);
  height: 682px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrap {
    position: relative;
  }

  &__link-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    z-index: 2;
    letter-spacing: 2px;

    h1 {
      font-weight: bold;
      font-size: 48px;
      color: #FFFFFF;
      margin-bottom: 40px;
    }

    a {
      display: block;
      letter-spacing: 2px;
      padding: 12px 22px 12px 27px;
    }
  }

  .magnifier {
    position: absolute;
    left: 32%;
    top: -6%;
    animation: magnifier 4s linear infinite;

  }

  .circle-s-1 {
    position: absolute;
    top: -50px;
    left: -30%;
    animation: upDown 3s linear infinite;
  }

  .circle {
    position: absolute;
    top: -80px;
    right: 40%;
  }

  .circle2 {
    position: absolute;
    top: -15%;
    right: -5%;
  }

  .circle-b {
    position: absolute;
    top: 30px;
    right: -25%;
  }

  .circle-h-g {
    position: absolute;
    top: 25%;
    left: -25%;
  }

  .circle-h-g-two {
    position: absolute;
    bottom: 10%;
    left: 24%;
  }

  .circle-h-s {
    position: absolute;
    right: -20%;
    bottom: 45%;
  }

  .circle-big {
    position: absolute;
    top: -25%;
    left: -10%;
  }

  .circle-h-b-sm {
    position: absolute;
    top: -5%;
    right: 22%;
  }

  .circle-h-b-lg {
    position: absolute;
    bottom: -10%;
    right: 25%;
  }

  .circle-s2 {
    position: absolute;
    bottom: -6%;
    left: -15%;
  }

  .cross-s {
    position: absolute;
    left: -30%;
    bottom: 25%;
  }

  .cross {
    position: absolute;
    top: -15%;
    left: 25%;
  }

  .cross-w {
    position: absolute;
    top: -25%;
    right: 10%;

  }

  .cross-w2 {
    position: absolute;
    bottom: 5%;
    right: -25%;
    animation: rotateR 5s linear infinite;
    transition: 0.2s;
  }
}

@keyframes rotateR {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50%{
    transform: rotate(180deg) scale(1.2);
}
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes magnifier   {
  0% {
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes upDown   {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}