.swiper-main {
  padding: 0;

  @include mobile {
    //position: absolute;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    @include mobile {
      display: none;
    }
  }


  .swiper-button-next, .swiper-button-prev {
    @include mobile {
      display: none;
    }
  }

  .swiper-pagination {
    display: none;
    @include mobile {
      display: block;
      bottom: 20px;
      text-align: right;
      width: inherit;
      right: 10px;
    }
  }

  .swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
  }

  .swiper-pagination-bullet-active {
    background: #FFFFFF;
    opacity: 0.8;
    box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.61);
  }

}

.swiper-popular {
  position: static;
  padding: 10px 0;
  min-height: 363px;
  @include tablet {
    min-height: 320px;
  }
  @include mobile {
    min-height: 320px;
  }

  .swiper-button-prev {
    left: -22px;
    top: 45%;
  }

  .swiper-button-next {
    right: -22px;
    top: 45%;
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    background-color: #899EB7;
    background-size: 18px;
    background-position: 16px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 2px 7px rgba(64, 93, 114, 0.4);
  }
}


.swiper-brands {
  .swiper-button-prev:after, .swiper-button-next:after {
    background-color: #899EB7;
    background-size: 18px;
    background-position: 16px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 2px 7px rgba(64, 93, 114, 0.4);
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    @include mobile {
      //max-width: 100px;
    }
  }

  .swiper-slide img {
    max-width: 180px;

    @include tablet {
      max-width: 150px;
    }
    @include mobile {
      max-width: 100px;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
}

.swiper-reviews {

  //padding: 0;
  position: static;
  @include mobile {
    position: relative;
    padding: 0;
    padding-bottom: 65px;
  }

  .swiper-button-prev, .swiper-button-next {

    @include mobile {
      transform: none;
      top: 94%;
    }
  }

  .swiper-button-next {
    @media(min-width: 1480px) {
      right: 0px;
    }
    @include mobile {
      right: 35%;
    }
  }

  .swiper-button-prev {
    @media(min-width: 1480px) {
      left: 0px;
    }
    @include mobile {
      left: 35%;
    }
  }

  .swiper-slide {
    opacity: 0;
    transition: 0.2s;

  }

  .swiper-slide-active {
    opacity: 1;
    transition: 0.2s;
  }

  .swiper-slide-next {
    opacity: 1;
    transition: 0.2s;
    @include tablet {
      opacity: 1;
      transition: 0.2s;
    }
    @include mobile {
      opacity: 1;
      transition: 0.2s;
    }
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    background-color: #899EB7;
    background-size: 18px;
    background-position: 16px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 2px 7px rgba(64, 93, 114, 0.4);
  }
}

.swiper-about-us {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mobile {
      width: auto;
      height: 175px;
    }
  }

  .swiper-slide {
    @include tablet {
      width: auto;
    }
    @include mobile {
      width: auto;
    }
  }

  .swiper-button-prev {
    left: 23px;
  }

  .swiper-button-next {
    right: 25px;
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    background-color: #899EB7;
    background-size: 18px;
    background-position: 16px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 2px 7px rgba(64, 93, 114, 0.4);
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
}


.gallery-top {
  padding-left: 10px;
  @include tablet{
    padding-left: 0;
  }
  @include mobile{
    padding-right: 0;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;


    a{
      @include mobile{
        display: flex;
        justify-content: center;
      }
    }
@include mobile{
  width: auto;
}
    img {
      width: 100%;
      @include mobile{
        width: 140px;
      }
    }
  }
}

.gallery-thumbs {
  max-width: 200px;
  width: 100%;
  padding-left: 10px;
@include tablet{
  padding-right: 10px;
}
  @include mobile{
    max-width:auto;
    width: 223px;
    padding-right: 10px;
  }

  .swiper-slide {
    max-width: 200px;
    max-height: 200px !important;
    box-shadow: 0px 2px 10px rgba(64, 93, 114, 0.35);
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;

    @media(max-width: 1170px)and(min-width: 1024px){
      height: 170px !important;
    }
    @include tablet{
      max-width: 76px;
      max-height: 76px !important;
    }
    @include mobile{
      max-width: 65px;
      max-height: 65px;
      height: 65px !important;
    }

    img {
      padding: 20px;
      object-fit: contain;
      border-radius: 5px;
      width: 100%;
      @include tablet{
        padding: 10px;
      }
      @include mobile{
        padding: 3px;
      }
    }
  }

  .swiper-slide-thumb-active {
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: none;
    transition: 0.2s;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(163, 163, 163, 0.08);
    }
  }
}



