<section class="about-index">
        <div class="about-index__wrap">
            <div class="about-index__img">
                <img src="images/about-index/about-secction-bg.jpg" alt="">
            </div>
            <div class="about-index__desc-wrap">
                <div class="desc-box">
                <h4>Компания «PASENA» — лидер в Беларуси по оптовой поставке современной промышленной полиэтиленовой
                    тары.
                </h4>
                <p>Тара предназначена для транспортировки и хранения химической, нефтеперерабатывающей и пищевой
                    продукции, в том числе опасных грузов.</p>
                <p>Ассортимент продукции включает в себя: бочки емкостью от 20 литров до 262 литров, канистры от 1 до 60
                    литров, бидоны вместимостью 41 литр и 51 литр, кубовые емкости. Также осуществляется поставка
                    химического сырья для проиводственных целей. </p>
                <p>Вся продукция изготовлена из высококачественного сырья, отличающегося высокими прочностными
                    характеристиками и химической стойкостью.
                </p>
            </div>
                <button class="about-index__btn">Показать ещё</button>
            </div>

        </div>
</section>