<section class="advantages">
    <div class="container">
        <div class="advantages__wrap">
            <div class="advantages__boxes">
                <div class="advantages__boxes__wrap">
                    <div class="title-box title-box-active">
                        <button class="button tablinks" onclick="openCity(event, 'one')" id="defaultOpen">
                            <div class="advantages__wrap-content">
                                <div class="btn-img">
                                    <img src="images/advantages/bg-1.svg" alt="">
                                    <img src="images/advantages/1.png" alt="">
                                </div>
                                <div class="advantages__wrap-desc">
                                    <h3>Большой выбор</h3>
                                    <p class="advantages__desc">
                                        У нас Вы сможете найти пластиковую тару для хранения пищевых продуктов и
                                        химических
                                        веществ не
                                        только различных объемов, но и в разных цветовых исполениях.
                                    </p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="title-box">
                        <button class="button tablinks" onclick="openCity(event, 'two')">
                            <div class="advantages__wrap-content">
                                <div class="btn-img">
                                    <img src="images/advantages/bg-2.svg" alt="">
                                    <img src="images/advantages/2.png" alt="">
                                </div>
                                <div class="advantages__wrap-desc">
                                    <h3>Собственный склад</h3>
                                    <p class="advantages__desc">
                                        Собственный склад гарантирует лучшие цены. Удобная логистика нашего склада без
                                        труда
                                        поможет Вам добраться к нам как на легковом так и на грузовом транспорте.
                                    </p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="title-box">
                        <button class="button tablinks" onclick="openCity(event, 'three')">
                            <div class="advantages__wrap-content">
                                <div class="btn-img">
                                    <img src="images/advantages/bg-3.svg" alt="">
                                    <img src="images/advantages/3.png" alt="">
                                </div>
                                <div class="advantages__wrap-desc">
                                    <h3>Экологичность материалов</h3>
                                    <p class="advantages__desc">
                                        Вся тара изготовлена из полипропилена - термоустойчивого и безопасного пластика,
                                        который используется для изготовления пищевых и не причиняет вреда здоровью.
                                    </p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="title-box">
                        <button class="button tablinks" onclick="openCity(event, 'four')">
                            <div class="advantages__wrap-content">
                                <div class="btn-img">
                                    <img src="images/advantages/bg-4.svg" alt="">
                                    <img src="images/advantages/4.png" alt="">
                                </div>
                                <div class="advantages__wrap-desc">
                                    <h3>Гарантия качества</h3>
                                    <p class="advantages__desc">
                                        Тара производится на современном европейском оборудовании из высококачественного
                                        сырья, отличающегося высокими прочностными характеристиками и химической
                                        стойкостью.
                                    </p>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="advantages__tabs-img">
                <div id="one" class="tabcontent active">
                    <img src="images/advantages/1.jpg" alt="">
                </div>

                <div id="two" class="tabcontent">
                    <img src="images/advantages/2.jpg" alt="">
                </div>

                <div id="three" class="tabcontent">
                    <img src="images/advantages/3.jpg" alt="">
                </div>
                <div id="four" class="tabcontent">
                    <img src="images/advantages/4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ac-container">
    <div>
        <input id="ac-1" name="accordion-1" type="radio" checked/>
        <label class="ac-label" for="ac-1">
            <img src="images/advantages/mob/1-min.png" alt="">Гарантия качества</label>
        <article>
            <p> Тара производится на современном европейском оборудовании из высококачественного сырья,
                отличающегося высокими прочностными характеристиками и химической стойкостью.</p>
        </article>
    </div>
    <div>
        <input id="ac-2" name="accordion-1" type="radio"/>
        <label for="ac-2"><img src="images/advantages/mob/2-min.png" alt="">Собственный склад</label>
        <article>
            <p>Собственный склад гарантирует лучшие цены. Удобная логистика нашего склада без труда поможет Вам
                добраться к нам как на легковом так и на грузовом транспорте.</p>
        </article>
    </div>
    <div>
        <input id="ac-3" name="accordion-1" type="radio"/>
        <label for="ac-3"><img src="images/advantages/mob/3-min.png" alt="">Экологичность материалов</label>
        <article>
            <p> Вся тара изготовлена из полипропилена - термоустойчивого и безопасного пластика, который
                используется для изготовления пищевых и не причиняет вреда здоровью.</p>
        </article>
    </div>
    <div>
        <input id="ac-4" name="accordion-1" type="radio"/>
        <label for="ac-4"><img src="images/advantages/mob/4-min.png" alt="">Гарантия качества</label>
        <article>
            <p>Тара производится на современном европейском оборудовании из высококачественного сырья,
                отличающегося высокими прочностными характеристиками и химической стойкостью.</p>
        </article>
    </div>
</section>
