<section class="advantages">
    <div class="container">
        <div class="advantages__wrap">
            <div class="advantages__boxes">
                <div class="title-box title-box-active">
                    <button class="button tablinks" onclick="openCity(event, 'one')" id="defaultOpen">
                        <div class="advantages__wrap-content">
                            <div class="btn-img">
                                <img src="images/advantages/bg-1.svg" alt="">
                                <img src="images/advantages/2.png" alt="">
                            </div>
                            <div class="advantages__wrap-desc">
                                <h3>Большой выбор</h3>
                                <p class="advantages__desc">
                                    У нас Вы сможете найти пластиковую тару для хранения пищевых продуктов и химических
                                    веществ не
                                    только различных объемов, но и в разных цветовых исполениях.
                                </p>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="title-box">
                    <button class="button tablinks" onclick="openCity(event, 'two')">
                        <div class="advantages__wrap-content">
                            <div class="btn-img">
                                <img src="images/advantages/bg-1.svg" alt="">
                                <img src="images/advantages/canister-min.png" alt="">
                            </div>
                            <div class="advantages__wrap-desc">
                                <h3>Большой выбор</h3>
                                <p class="advantages__desc">
                                    У нас Вы сможете найти пластиковую тару для хранения пищевых продуктов и химических
                                    веществ не
                                    только различных объемов, но и в разных цветовых исполениях.
                                </p>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="title-box">
                    <button class="button tablinks" onclick="openCity(event, 'three')">
                        <div class="advantages__wrap-content">
                            <div class="btn-img">
                                <img src="images/advantages/bg-1.svg" alt="">
                                <img src="images/advantages/canister-min.png" alt="">
                            </div>
                            <div class="advantages__wrap-desc">
                                <h3>Большой выбор</h3>
                                <p class="advantages__desc">
                                    У нас Вы сможете найти пластиковую тару для хранения пищевых продуктов и химических
                                    веществ не
                                    только различных объемов, но и в разных цветовых исполениях.
                                </p>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="title-box">
                    <button class="button tablinks" onclick="openCity(event, 'four')">
                        <div class="advantages__wrap-content">
                            <div class="btn-img">
                                <img src="images/advantages/bg-1.svg" alt="">
                                <img src="images/advantages/canister-min.png" alt="">
                            </div>
                            <div class="advantages__wrap-desc">
                                <h3>Большой выбор</h3>
                                <p class="advantages__desc">
                                    У нас Вы сможете найти пластиковую тару для хранения пищевых продуктов и химических
                                    веществ не
                                    только различных объемов, но и в разных цветовых исполениях.
                                </p>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="advantages__tabs-img">
                <div id="one" class="tabcontent active">
                    <img src="images/advantages/1.jpg" alt="">
                </div>

                <div id="two" class="tabcontent">
                    <img src="images/advantages/2.jpg" alt="">
                </div>

                <div id="three" class="tabcontent">
                    <img src="images/advantages/3.jpg" alt="">
                </div>
                <div id="four" class="tabcontent">
                    <img src="images/advantages/4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>