<section class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__wrap">
            <li><a href="#">Главная</a></li>
            <li class="breadcrumbs__active">Контакты</li>
        </ul>
    </div>
</section>