<section class="feed-back" style="background: url('images/bg-contacts.jpg'); background-position: center;">
    <div class="container">
        <div class="feed-back__wrap">
            <p>Оставьте свои контактные данные, наш специалист <br> перезвонит Вам и ответит на интересующие вопросы!</p>
            <p>Оставьте свои контактные данные и наш специалист перезвонит Вам!</p>
            <form action="">
                <label><input type="text" placeholder="Ваше имя"></label>
                <label><input id="phone-mask" type="tel" placeholder="Номер телефона"></label>
                <button class="btn">Заказать звонок</button>
            </form>
        </div>
    </div>
</section>