<section class="form-map">
    <div class="container">
        <hr>
        <div class="form-map__wrap">
            <div class="form-map__form">
                <h4>Возникли какие-то вопросы?</h4>
                <p>Напишите нам сейчас и мы Вам поможем</p>
                <form action="#">
                    <div class="form-map__wrap-input">
                        <label><input type="text" placeholder="Ваше имя"></label>
                        <label><input id="phone-mask" type="tel"placeholder="Номер телефона"></label>
                    </div>
                    <textarea rows="10" placeholder="Напишите сообщение..."></textarea>
                    <p>Удобный способ для обратной связи:</p>
                    <div class="form-map__wrap-checkbox">
                        <label>
                            <input type="checkbox">Viber
                            <span></span>
                        </label>
                        <label>
                            <input type="checkbox">Telegram
                            <span></span>
                        </label>
                        <label>
                            <input type="checkbox">WhatsApp
                            <span></span>
                        </label>
                    </div>
                    <button class="btn--border" type="button">Отправить</button>
                </form>
            </div>
            <div class="form-map__map">
                <div class="ymap-container">
                    <div class="loader loader-default"></div>
                    <div id="map-yandex"></div>
                </div>
            </div>
        </div>
    </div>
</section>