<section class="hero">
{#    <img class="mobile-bg" src="images/hero-slider/hero-mobile-min.jpg" alt="">#}
    <div class="swiper-container swiper-main">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="images/hero-slider/slide1.jpg" alt="">
                    <div class="hero__slide-content">
                        <div>
                            <h1>Высокоэкологичные канистры, соответствующих мировым стандартам!</h1>
                            <p>Для транспортировки и хранения жидких:</p>
                            <ul>
                                <li>- пищевых продуктов</li>
                                <li>- химических веществ</li>
                                <li>- опасных грузов</li>
                            </ul>
                            <a href="#" class="btn--border hide-d-t">Перейти в каталог</a>
                            <a href="#" class="btn--border show-mobile">В каталог</a>
                        </div>

                    </div>
            </div>
            <div class="swiper-slide">
                <img src="images/hero-slider/slide2.jpg" alt="">
                <div class="hero__slide-content">
                    <div>
                        <h1>Высокоэкологичные канистры, соответствующих мировым стандартам!</h1>
                        <p>Для транспортировки и хранения жидких:</p>
                        <ul>
                            <li>- пищевых продуктов</li>
                            <li>- химических веществ</li>
                            <li>- опасных грузов</li>
                        </ul>
                        <a href="#" class="btn--border hide-d-t">Перейти в каталог</a>
                        <a href="#" class="btn--border show-mobile">В каталог</a>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <img src="images/hero-slider/slide3.jpg" alt="">
                <div class="hero__slide-content">
                    <div>
                        <h1>Высокоэкологичные канистры, соответствующих мировым стандартам!</h1>
                        <p>Для транспортировки и хранения жидких:</p>
                        <ul>
                            <li>- пищевых продуктов</li>
                            <li>- химических веществ</li>
                            <li>- опасных грузов</li>
                        </ul>
                        <a href="#" class="btn--border hide-d-t">Перейти в каталог</a>
                        <a href="#" class="btn--border show-mobile">В каталог</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>



</section>



