<section class="popular-slider">
    <div class="container">
        <div class="swiper-container swiper-popular">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card-product">
                        <img src="images/products/pr-min.jpg" alt="">
                        <div>
                            <h4>Канистра 3 литра</h4>
                            <div>
                                <p>
                                    <span>100 руб/уп.</span>
                                    <span>90 руб/уп.</span>
                                </p>
                                <span>В наличие</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-product">
                        <img src="images/products/pr-min.jpg" alt="">
                        <div>
                            <h4>Канистра 3 литра</h4>
                            <div>
                                <p>
                                    <span>100 руб/уп.</span>
                                    <span>90 руб/уп.</span>
                                </p>
                                <span>В наличие</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-product">
                        <img src="images/products/pr-min.jpg" alt="">
                        <div>
                            <h4>Канистра 3 литра</h4>
                            <div>
                                <p>
                                    <span>100 руб/уп.</span>
                                    <span>90 руб/уп.</span>
                                </p>
                                <span>В наличие</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-product">
                        <img src="images/products/pr-min.jpg" alt="">
                        <div>
                            <h4>Канистра 3 литра</h4>
                            <div>
                                <p>
                                    <span>100 руб/уп.</span>
                                    <span>90 руб/уп.</span>
                                </p>
                                <span>В наличие</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-product">
                        <img src="images/products/pr-min.jpg" alt="">
                        <div>
                            <h4>Канистра 3 литра</h4>
                            <div>
                                <p>
                                    <span>100 руб/уп.</span>
                                    <span>90 руб/уп.</span>
                                </p>
                                <span>В наличие</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-product">
                        <img src="images/products/pr-min.jpg" alt="">
                        <div>
                            <h4>Канистра 3 литра</h4>
                            <div>
                                <p>
                                    <span>100 руб/уп.</span>
                                    <span>90 руб/уп.</span>
                                </p>
                                <span>В наличие</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>