<section class="popular-slider">
    <div class="container">
        <div class="swiper-container swiper-popular">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="card-product">
                        <div class="popular-slider__img-wrap">
                            <img src="images/products/pr-min.jpg" alt="">
                        </div>
                        <div>
                            <h4>Канистра 3 литра</h4>
                            <div class="price-wrap">
                                <p>
                                    <span class="old-price">100 руб/уп.</span>
                                    <span class="new-price">90 руб/уп.</span>
                                </p>
                                <span class="in-stock">В наличие</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="card-product">
                        <div class="popular-slider__img-wrap">
                            <img src="images/products/pr-min.jpg" alt="">
                        </div>
                        <div>
                            <h4>Канистра 3 литра</h4>
                            <div class="price-wrap price-wrap--normal">
                                <p>
                                    <span class="price">90 руб/уп.</span>
                                </p>
                                <span class="order">Под заказ</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="card-product">
                        <div class="popular-slider__img-wrap">
                            <img src="images/products/pr-min.jpg" alt="">
                        </div>
                        <div>
                            <h4>Канистра 3 литра</h4>
                            <div class="price-wrap">
                                <p>
                                    <span class="old-price">100 руб/уп.</span>
                                    <span class="new-price">90 руб/уп.</span>
                                </p>
                                <span class="in-stock">В наличие</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="card-product">
                        <div class="popular-slider__img-wrap">
                            <img src="images/products/pr-min.jpg" alt="">
                        </div>
                        <div>
                            <h4>Канистра 3 литра</h4>
                            <div class="price-wrap price-wrap--normal">
                                <p>
                                    <span class="price">90 руб/уп.</span>
                                </p>
                                <span class="order">Под заказ</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="card-product">
                        <div class="popular-slider__img-wrap">
                            <img src="images/products/pr-min.jpg" alt="">
                        </div>
                        <div>
                            <h4>Канистра 3 литра</h4>
                            <div class="price-wrap">
                                <p>
                                    <span class="old-price">100 руб/уп.</span>
                                    <span class="new-price">90 руб/уп.</span>
                                </p>
                                <span class="in-stock">В наличие</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="card-product">
                        <div class="popular-slider__img-wrap">
                            <img src="images/products/pr-min.jpg" alt="">
                        </div>
                        <div>
                            <h4>Канистра 3 литра</h4>
                            <div class="price-wrap price-wrap--normal">
                                <p>
                                    <span class="price">90 руб/уп.</span>
                                </p>
                                <span class="order">Под заказ</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="popular-slider__link">
        <a href="#" class="btn--border">Все товары</a>
    </div>
</section>