<section class="product-catalog">
    <div class="container">
        <div class="product-catalog__wrap">
            <a href="#" class="product-catalog__item">
                <h3>Канистры</h3>
                <img src="../images/catalog/catalog1-min.png" alt="">
            </a>
            <a href="#" class="product-catalog__item">
                <h3>Бочки и бидоны</h3>
                <img src="../images/catalog/catalog2-min.png" alt="">
            </a>
            <a href="#" class="product-catalog__item">
                <h3>Кубовые ёмкости</h3>
                <img src="../images/catalog/catalog3-min.png" alt="">
            </a>
            <a href="#" class="product-catalog__item">
                <h3>Химическое сырье</h3>
                <img src="../images/catalog/catalog4-min.png" alt="">
            </a>
            <a href="#" class="product-catalog__item">
                <h3>Крышки</h3>
                <img src="../images/catalog/catalog5-min.png" alt="">
            </a>
        </div>
        <div class="product-catalog__link">
            <a href="#" class="btn--border">Перейти в каталог</a>
        </div>
    </div>
</section>