$icon-arrow-for-white: 36px 15px -36px -15px 10px 16px 149px 56px 'sprite.png';
$icon-arrow-white: 0px 34px 0px -34px 16px 22px 149px 56px 'sprite.png';
$icon-arrow: 46px 15px -46px -15px 15px 10px 149px 56px 'sprite.png';
$icon-logo-mobile: 0px 0px 0px 0px 149px 15px 149px 56px 'sprite.png';
$icon-phone-mobile: 0px 15px 0px -15px 19px 19px 149px 56px 'sprite.png';
$icon-phone: 19px 15px -19px -15px 17px 17px 149px 56px 'sprite.png';
