{% extends 'layout/base.twig' %}
{% block title %}Пасена{% endblock %}
{% block body %}
    <section class="not-found">
        <div class="not-found__wrap">
            <svg width="630" height="213" viewBox="0 0 630 213" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M88.9117 212.257V167.098H0.373047V131.027L101.921 0.672852H129.527V130.727H156.253V167.163H129.527V212.321L88.9117 212.257ZM41.0095 130.813H93.4341V62.2277L41.0095 130.813Z" fill="white"/>
                <path d="M562.019 212.257V167.098H473.459V131.027L575.007 0.672852H602.613V130.727H629.297V167.163H602.656V212.321L562.019 212.257ZM514.138 130.813H566.563V62.2277L514.138 130.813Z" fill="white"/>
            </svg>

            <img class="magnifier" src="images/magnifier.svg" alt="">
            <img class="circle-s-1" src="images/circle-s.svg" alt="">
            <img class="circle" src="images/circle.svg" alt="">
            <img class="circle2" src="images/circle.svg" alt="">
            <img class="circle-b" src="images/circle-b.svg" alt="">
            <img class="circle-h-g" src="images/circle-h-g.svg" alt="">
            <img class="circle-h-g-two" src="images/circle-h-g.svg" alt="">
            <img class="circle-h-s" src="images/circle-h-s.svg" alt="">
            <img class="circle-big" src="images/circle-big.svg" alt="">
            <img class="circle-h-b-sm" src="images/circle-h-b-sm.svg" alt="">
            <img class="circle-h-b-lg" src="images/circle-h-b-lg.svg" alt="">
            <img class="circle-s2" src="images/circle-s2.svg" alt="">
            <img class="cross-s" src="images/cross-s.svg" alt="">
            <img class="cross" src="images/cross.svg" alt="">
            <img class="cross-w" src="images/cross-w.svg" alt="">
            <img class="cross-w2" src="images/cross-w.svg" alt="">
            <div class="not-found__link-wrap">
                <h1>Страница не найдена</h1>
                <a href="/" class="btn--border">На главную</a>
            </div>
        </div>
    </section>
    {% include 'layout/footer.twig' %}
{% endblock %}
