{% extends 'layout/base.twig' %}
{% block title %}Пасена{% endblock %}
{% block body %}
    {% include 'components/breadcrumbs.twig' %}
    {% include 'components/section-title.twig' with
        {
            title: 'О нас',
        } %}
    <section class="about-us">
        <div class="about-us__block1">
            <div class="container">
                <div class="about-us__block1-wrap">
                    <div class="about-us__img-wrap">
                        <img src="images/about-us/about-us-img1.jpg" alt="">
                    </div>
                    <div class="about-us__content-wrap">
                        <p>Компания «Пасена» поставляет пластиковую тару для упаковки, транспортировки и хранения
                            жидкостей
                            различного назначения. На рынке поставки пластиковых изделий компания работает с 2009
                            года.</p>
                        <div class="about-us__blue-block">
                            <p>Сегодня современное оборудование мировых производителей, профессиональные сотрудники и
                                система контроля качества позволяют выпускать конкурентоспособную продукцию, которую мы
                                и поставляем в РБ.
                            </p>
                            <p>Вся продукция отвечает тенденциям современного рынка и потребностям клиентов.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us__block2" style="background-image: url('images/about-us/about-us-img3.jpg')">
            <div class="container">
                <div class="about-us__content">
                    <p>Вся продукция, представленная в каталоге, изготовлена из экологически чистого пластика, который
                        пригоден для хранения пищевых жидкостей, в том числе воды. Такая пластиковая тара не выделяет
                        токсинов, не изменяет структуру жидкости и ее свойств.
                        Для производства пластиковых канистр и флаконов используется высококачественное сырье ведущих
                        российских поставщиков.</p>
                    <p>Сегодня пластиковая продукция востребована во многих отраслях промышленности – пищевой и
                        фармацевтической, химической и нефтехимической, строительной и лакокрасочной,
                        сельскохозяйственной и других. Среди наших клиентов есть крупные заказчики и мелкооптовые
                        покупатели, работающие по всей Беларуси. Со многими клиентами сложились прочные отношения, с
                        некоторыми успешно работаем более 10 лет.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="about-us__bg">
        <div class="about-us__block1">
            <div class="container">
                <div class="about-us__block1-wrap">
                    <div class="about-us__img-wrap">
                        <img src="images/about-us/about-us-img2.jpg" alt="">
                    </div>
                    <div class="about-us__content-wrap about-us__content-wrap--pt">
                        <div class="about-us__blue-block about-us__blue-block--h">
                            <p>Пластиковая тара изготавливается по стандартам ГОСТ Р в соответствии с ТУ
                                2297-001-00303930-2008, соответствует требованиям к полимерным изделиям, предназначенным
                                для контакта с пищевыми продуктами, требованиями ЕАС к безопасности продукции, имеет
                                сертификаты UN на соответствие требованиям международных и национальных регламентов по
                                перевозке опасных грузов.
                            </p>
                            <p>Система менеджмента качества также сертифицирована и соответствует требованиям ISO
                                9001:2011 и OHSAS 18001:2007. Высокое качество выпускаемой пластиковой тары регулярно
                                подтверждается испытаниями независимых аккредитованных лабораторий пищевых продуктов.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'components/section-title.twig' with
            {
                title: 'Наш склад',
            } %}
        <section class="about-us__slider">
            <div class="swiper-container swiper-about-us">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="images/about-us/about-us-slide1.jpg" data-fancybox="about-us-slider"><img
                                    src="images/about-us/about-us-slide1.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="images/about-us/about-us-slide2.jpg" data-fancybox="about-us-slider"><img
                                    src="images/about-us/about-us-slide2.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="images/about-us/about-us-slide3.jpg" data-fancybox="about-us-slider"><img
                                    src="images/about-us/about-us-slide3.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="images/about-us/about-us-slide4.jpg" data-fancybox="about-us-slider"><img
                                    src="images/about-us/about-us-slide4.jpg" alt=""></a>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
    </div>
        {% include 'layout/footer.twig' with
            {
                mod : 'footer--no-border',
            }
        %}


{% endblock %}



