{% extends 'layout/base.twig' %}
{% block title %}Пасена{% endblock %}
{% block body %}
    {% include 'components/breadcrumbs.twig' %}
    <section class="blog-page">
        <div class="container">
            <div>
                <div class="blog-page__wrap">
                    <div class="blog-page__content-wrap">
                        <div class="blog-page__content">
                            <h1>Преимущества пластиковых канистр</h1>
                            <div class="new-in-blog__detail">
                                <span>14.10.2020</span>
                            </div>
                            <p>Функцией экспедиционных канистр является перевозка бензина в условиях, когда отсутствует
                                возможность дозаправки на стационарных АЗС. В качестве дополнительной функции можно
                                выделить
                                перевозку питьевой воды, например, в условиях пустыни. К выбору канистры для питьевой
                                воды
                                необходимо подходить с осторожностью. Состав, из которого изготовлена емкость, в этом
                                случае
                                не
                                должен представлять опасность для человеческого организма.</p>
                            <p>Дополнительные функции встречаются у плоских канистр класса сэнд-трак. Форма этих
                                емкостей
                                позволяет использовать их в качестве специального приспособления для преодоления канав и
                                сложных
                                грунтов (грязи, снега, песка).</p>
                            <img src="images/blog-page/blog-page.jpg" alt="">
                            <h2>Разновидности пластиковых канистр</h2>
                            <p>Пластиковые канистры еще более разнообразны по своим вариантам изготовления. Говоря о
                                канистрах,
                                изготовленных из пластика, необходимо отбросить обычные бутылки для наполнения водой и
                                емкости
                                из-под различных химических и моющих средств. Подобные сосуды нельзя использовать —
                                материал, из
                                которого они изготовлены, не приспособлен для перевозки бензина, они нередко начинают
                                подтекать
                                по швам, неудобны при заливке бензина в горловину бака и т. д. Использование подобных
                                емкостей
                                возможно лишь на кратковременной основе, когда нет возможности приобрести
                                специализированную
                                канистру.
                            </p>
                            <h3>Все экспедиционные канистры подразделяются на две большие группы:</h3>

                            <ul>
                                <li>металлические емкости;</li>
                                <li>металлические емкости;</li>
                            </ul>
                            <p>Поэтому когда речь идет о пластиковых канистрах, подразумеваются исключительно
                                предназначенные
                                для транспортировки бензина емкости. Они разделяются на два основных вида:
                            </p>
                            <ul>
                                <li>металлические емкости;</li>
                                <li>металлические емкости;</li>
                            </ul>
                            <p>Поэтому когда речь идет о пластиковых канистрах, подразумеваются исключительно
                                предназначенные
                                для транспортировки бензина емкости. Они разделяются на два основных вида:
                            </p>
                            <ul>
                                <li>металлические емкости;</li>
                                <li>металлические емкости;</li>
                            </ul>
                            <p>Поэтому когда речь идет о пластиковых канистрах, подразумеваются исключительно
                                предназначенные
                                для транспортировки бензина емкости. Они разделяются на два основных вида:
                            </p>
                            <ul>
                                <li>металлические емкости;</li>
                                <li>металлические емкости;</li>
                            </ul>
                        </div>
                        <div class="blog-page__pagination">
                            <div class="blog-page__arrow blog-page__pagination-prev">
                                <a href="#">
                        <span>
                            <svg width="16" height="22" viewBox="0 0 16 22" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
<path d="M14 2L3 11L14 20" stroke="white" stroke-width="3.5" stroke-linecap="round"/>
</svg>
                        </span>
                                    Предыдущая статья
                                </a>
                            </div>
                            <div class="blog-page__arrow blog-page__pagination-next">
                                <a href="#">Слдеующая статья
                                    <span>
                                        <svg width="16" height="22" viewBox="0 0 16 22" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
<path d="M14 2L3 11L14 20" stroke="white" stroke-width="3.5" stroke-linecap="round"/>
</svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="blog-page__pagination blog-page__pagination--mobile">
                            <div class="blog-page__arrow blog-page__pagination-prev">
                                <a href="#">
                        <span>
                            <svg width="16" height="22" viewBox="0 0 16 22" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
<path d="M14 2L3 11L14 20" stroke="white" stroke-width="3.5" stroke-linecap="round"/>
</svg>
                        </span>
                                    Предыдущая
                                </a>
                            </div>
                            <div class="blog-page__arrow blog-page__pagination-next">
                                <a href="#">Слдеующая
                                    <span>
                                        <svg width="16" height="22" viewBox="0 0 16 22" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
<path d="M14 2L3 11L14 20" stroke="white" stroke-width="3.5" stroke-linecap="round"/>
</svg>
                                    </span>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="blog-page__more">
                        <div class="blog-page__sticky">
                            <article>
                                <a href="#" class="new-in-blog__item">
                                    <img src="images/new-in-blog/2.jpg" alt="">
                                    <div class="new-in-blog__desc-wrap">
                                        <div class="new-in-blog__desc">
                                            <h4>Преимущества пластиковых канистр</h4>
                                        </div>
                                        <div class="new-in-blog__detail">
                                            <button class="btn-not">Читать
                                                <svg width="21" height="8" viewBox="0 0 21 8" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z"
                                                          fill="#BE0E0E"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </article>
                            <article>
                                <a href="#" class="new-in-blog__item">
                                    <img src="images/new-in-blog/2.jpg" alt="">
                                    <div class="new-in-blog__desc-wrap">
                                        <div class="new-in-blog__desc">
                                            <h4>Преимущества пластиковых канистр</h4>
                                        </div>
                                        <div class="new-in-blog__detail">
                                            <button class="btn-not">Читать
                                                <svg width="21" height="8" viewBox="0 0 21 8" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z"
                                                          fill="#BE0E0E"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </article>
                            <article>
                                <a href="#" class="new-in-blog__item">
                                    <img src="images/new-in-blog/2.jpg" alt="">
                                    <div class="new-in-blog__desc-wrap">
                                        <div class="new-in-blog__desc">
                                            <h4>Преимущества пластиковых канистр</h4>
                                        </div>
                                        <div class="new-in-blog__detail">
                                            <button class="btn-not">Читать
                                                <svg width="21" height="8" viewBox="0 0 21 8" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z"
                                                          fill="#BE0E0E"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'layout/footer.twig' %}
{% endblock %}
