{% extends 'layout/base.twig' %}
{% block title %}Пасена{% endblock %}
{% block body %}
  <section class="result-search">
      <div class="container">
          <div class="result-search__wrap">
              {% include 'components/section-title.twig' with
                  {
                      title: 'Результаты поиска',
                  } %}
              <p>По запросу <span>канистра 3 литра</span> найдено 5 товаров:</p>
              <div class="catalog__items tile-row--active">
                  <form action="#" class="card-product">
                      <a href="#" class="popular-slider__img-wrap">
                          <img src="images/products/pr-min.png" alt="">
                          <h4>Канистра 3 литра <span class="in-stock in-stock--action">В наличие</span>
                              <span class="order in-stock--action">Под заказ</span>
                          </h4>

                      </a>
                      <div class="card-product__wrap-price">
                          <div class="price-wrap">
                              <p>
                                  <span class="old-price">От 100 руб/уп.</span>
                                  <span class="new-price">От 90 руб/уп.</span>
                              </p>
                              <p>
                                  <span class="in-stock">В наличие</span>
                                  <span class="order">Под заказ</span>
                              </p>

                          </div>
                      </div>
                      <div class="card-product__btn-wrap">
                          <div class="card-product__quantity-wrap">
                              <div class="card-product__input-wrap">
                                  <input type="number" value="1">
                                  <span class="input-btn minus"></span>
                                  <span class="input-btn plus"></span>
                              </div>
                          </div>
                          <div class="card-product__btn">
                              <button class="btn--border-red" style="display: none">Заказать</button>
                              <button class="btn">В корзину</button>
                          </div>
                      </div>
                      <a href="#" class="card-product__hover"></a>
                  </form>
                  <form action="#" class="card-product">
                      <a href="#" class="popular-slider__img-wrap">
                          <img src="images/products/pr-min.png" alt="">
                          <h4>Канистра 3 литра <span class="in-stock in-stock--action">В наличие</span>
                              <span class="order in-stock--action">Под заказ</span>
                          </h4>

                      </a>
                      <div class="card-product__wrap-price">
                          <div class="price-wrap">
                              <p>
                                  <span class="old-price">От 100 руб/уп.</span>
                                  <span class="new-price">От 90 руб/уп.</span>
                              </p>
                              <p>
                                  <span class="in-stock">В наличие</span>
                                  <span class="order">Под заказ</span>
                              </p>

                          </div>
                      </div>
                      <div class="card-product__btn-wrap">
                          <div class="card-product__quantity-wrap">
                              <div class="card-product__input-wrap">
                                  <input type="number" value="1">
                                  <span class="input-btn minus"></span>
                                  <span class="input-btn plus"></span>
                              </div>
                          </div>
                          <div class="card-product__btn">
                              <button class="btn--border-red" style="display: none">Заказать</button>
                              <button class="btn">В корзину</button>
                          </div>
                      </div>
                      <a href="#" class="card-product__hover"></a>
                  </form>
                  <form action="#" class="card-product">
                      <a href="#" class="popular-slider__img-wrap">
                          <img src="images/products/pr-min.png" alt="">
                          <h4>Канистра 3 литра <span class="in-stock in-stock--action">В наличие</span>
                              <span class="order in-stock--action">Под заказ</span>
                          </h4>

                      </a>
                      <div class="card-product__wrap-price">
                          <div class="price-wrap">
                              <p>
                                  <span class="old-price">От 100 руб/уп.</span>
                                  <span class="new-price">От 90 руб/уп.</span>
                              </p>
                              <p>
                                  <span class="in-stock">В наличие</span>
                                  <span class="order">Под заказ</span>
                              </p>

                          </div>
                      </div>
                      <div class="card-product__btn-wrap">
                          <div class="card-product__quantity-wrap">
                              <div class="card-product__input-wrap">
                                  <input type="number" value="1">
                                  <span class="input-btn minus"></span>
                                  <span class="input-btn plus"></span>
                              </div>
                          </div>
                          <div class="card-product__btn">
                              <button class="btn--border-red" style="display: none">Заказать</button>
                              <button class="btn">В корзину</button>
                          </div>
                      </div>
                      <a href="#" class="card-product__hover"></a>
                  </form>
                  <form action="#" class="card-product">
                      <a href="#" class="popular-slider__img-wrap">
                          <img src="images/products/pr-min.png" alt="">
                          <h4>Канистра 3 литра <span class="in-stock in-stock--action">В наличие</span>
                              <span class="order in-stock--action">Под заказ</span>
                          </h4>

                      </a>
                      <div class="card-product__wrap-price">
                          <div class="price-wrap">
                              <p>
                                  <span class="old-price">От 100 руб/уп.</span>
                                  <span class="new-price">От 90 руб/уп.</span>
                              </p>
                              <p>
                                  <span class="in-stock">В наличие</span>
                                  <span class="order">Под заказ</span>
                              </p>

                          </div>
                      </div>
                      <div class="card-product__btn-wrap">
                          <div class="card-product__quantity-wrap">
                              <div class="card-product__input-wrap">
                                  <input type="number" value="1">
                                  <span class="input-btn minus"></span>
                                  <span class="input-btn plus"></span>
                              </div>
                          </div>
                          <div class="card-product__btn">
                              <button class="btn--border-red" style="display: none">Заказать</button>
                              <button class="btn">В корзину</button>
                          </div>
                      </div>
                      <a href="#" class="card-product__hover"></a>
                  </form>
                  <form action="#" class="card-product">
                      <a href="#" class="popular-slider__img-wrap">
                          <img src="images/products/pr-min.png" alt="">
                          <h4>Канистра 3 литра <span class="in-stock in-stock--action">В наличие</span>
                              <span class="order in-stock--action">Под заказ</span>
                          </h4>

                      </a>
                      <div class="card-product__wrap-price">
                          <div class="price-wrap">
                              <p>
                                  <span class="old-price">От 100 руб/уп.</span>
                                  <span class="new-price">От 90 руб/уп.</span>
                              </p>
                              <p>
                                  <span class="in-stock">В наличие</span>
                                  <span class="order">Под заказ</span>
                              </p>

                          </div>
                      </div>
                      <div class="card-product__btn-wrap">
                          <div class="card-product__quantity-wrap">
                              <div class="card-product__input-wrap">
                                  <input type="number" value="1">
                                  <span class="input-btn minus"></span>
                                  <span class="input-btn plus"></span>
                              </div>
                          </div>
                          <div class="card-product__btn">
                              <button class="btn--border-red" style="display: none">Заказать</button>
                              <button class="btn">В корзину</button>
                          </div>
                      </div>
                      <a href="#" class="card-product__hover"></a>
                  </form>
                  <form action="#" class="card-product">
                      <a href="#" class="popular-slider__img-wrap">
                          <img src="images/products/pr-min.png" alt="">
                          <h4>Канистра 3 литра <span class="in-stock in-stock--action">В наличие</span>
                              <span class="order in-stock--action">Под заказ</span>
                          </h4>

                      </a>
                      <div class="card-product__wrap-price">
                          <div class="price-wrap">
                              <p>
                                  <span class="old-price">От 100 руб/уп.</span>
                                  <span class="new-price">От 90 руб/уп.</span>
                              </p>
                              <p>
                                  <span class="in-stock">В наличие</span>
                                  <span class="order">Под заказ</span>
                              </p>

                          </div>
                      </div>
                      <div class="card-product__btn-wrap">
                          <div class="card-product__quantity-wrap">
                              <div class="card-product__input-wrap">
                                  <input type="number" value="1">
                                  <span class="input-btn minus"></span>
                                  <span class="input-btn plus"></span>
                              </div>
                          </div>
                          <div class="card-product__btn">
                              <button class="btn--border-red" style="display: none">Заказать</button>
                              <button class="btn">В корзину</button>
                          </div>
                      </div>
                      <a href="#" class="card-product__hover"></a>
                  </form>
                  <form action="#" class="card-product">
                      <a href="#" class="popular-slider__img-wrap">
                          <img src="images/products/pr-min.png" alt="">
                          <h4>Канистра 3 литра <span class="in-stock in-stock--action">В наличие</span>
                              <span class="order in-stock--action">Под заказ</span>
                          </h4>

                      </a>
                      <div class="card-product__wrap-price">
                          <div class="price-wrap">
                              <p>
                                  <span class="old-price">От 100 руб/уп.</span>
                                  <span class="new-price">От 90 руб/уп.</span>
                              </p>
                              <p>
                                  <span class="in-stock">В наличие</span>
                                  <span class="order">Под заказ</span>
                              </p>

                          </div>
                      </div>
                      <div class="card-product__btn-wrap">
                          <div class="card-product__quantity-wrap">
                              <div class="card-product__input-wrap">
                                  <input type="number" value="1">
                                  <span class="input-btn minus"></span>
                                  <span class="input-btn plus"></span>
                              </div>
                          </div>
                          <div class="card-product__btn">
                              <button class="btn--border-red" style="display: none">Заказать</button>
                              <button class="btn">В корзину</button>
                          </div>
                      </div>
                      <a href="#" class="card-product__hover"></a>
                  </form>
                  <form action="#" class="card-product">
                      <a href="#" class="popular-slider__img-wrap">
                          <img src="images/products/pr-min.png" alt="">
                          <h4>Канистра 3 литра <span class="in-stock in-stock--action">В наличие</span>
                              <span class="order in-stock--action">Под заказ</span>
                          </h4>

                      </a>
                      <div class="card-product__wrap-price">
                          <div class="price-wrap">
                              <p>
                                  <span class="old-price">От 100 руб/уп.</span>
                                  <span class="new-price">От 90 руб/уп.</span>
                              </p>
                              <p>
                                  <span class="in-stock">В наличие</span>
                                  <span class="order">Под заказ</span>
                              </p>

                          </div>
                      </div>
                      <div class="card-product__btn-wrap">
                          <div class="card-product__quantity-wrap">
                              <div class="card-product__input-wrap">
                                  <input type="number" value="1">
                                  <span class="input-btn minus"></span>
                                  <span class="input-btn plus"></span>
                              </div>
                          </div>
                          <div class="card-product__btn">
                              <button class="btn--border-red" style="display: none">Заказать</button>
                              <button class="btn">В корзину</button>
                          </div>
                      </div>
                      <a href="#" class="card-product__hover"></a>
                  </form>
              </div>
              <div class="btn-wrap">
                  <a href="#" class="btn--border">Каталог товаров</a>
              </div>
          </div>
      </div>
  </section>
    {% include 'layout/footer.twig' %}
{% endblock %}
