<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" href="fonts/NotoSans-Regular.woff2">
    <link rel="stylesheet" href="fonts/NotoSans-Bold.woff2">
</head>
<body>
{% block header %}
    {% include '../layout/header.twig' %}
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
{% endblock %}
<div class="overlay__modal overlay__modal--ordering">
    <div class="modal modal--ordering">
        <div class="head-modal">
            <div><img src="images/basket/1.jpg" alt=""></div>
            <div>
                <div>
                    <h3>Канистра 3 литра</h3>
                    <div class="price-wrap">
                        <p><span class="order">Под заказ</span></p>
                        <p><span class="price">100 руб/уп.</span></p>
                    </div>
                </div>
                <div>
                    <div class="select">
                        <select id="mounth" class="select-hidden">
                            <option value="hide">по умолчанию</option>
                            <option value="january">January</option>
                            <option value="february">February</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay__modal overlay__modal--index">
    <div class="modal modal--index">
        <div class="modal__container">
            <h3>Спасибо за заявку!</h3>
            <p>Наши специалисты свяжутся с Вами в ближайшее время и ответят на интересующие вопросы.</p>
            <button class="close"><span></span><span></span></button>
        </div>

    </div>
</div>
{% block scripts %}

    <script src="/js/libs/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/imask"></script>
    <script src="/js/libs/swiper-bundle.min.js"></script>
    <script src="/js/swiper-initialization.js"></script>
    <script src="/js/libraries.js"></script>
    <script src="/js/App.js"></script>
    <script src="/js/mask.js"></script>
    <script src="/js/libs/jquery.fancybox.min.js"></script>
    <script src="/js/map.js"></script>

{% endblock %}

</body>
</html>