<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a class="header__logo" href="#">
                <img src="images/logo.png" alt="">
            </a>
            <nav class="nav__menu">
                <ul>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <div class="header__connections">
                <div class="header__btn-wrap">
                    <form>
                        <div class="input-group search-group">
                            <input type="search" class="form-control search-control" placeholder="Enter your search term...">
                        </div>
                    </form>
                    <a class="header__basket" href="#"><img src="images/basket.svg" alt=""></a>
                </div>
                <div class="header__phones">
                    <a href="#">+375 (29) 684-24-63</a>
                    <a href="#">+375 (29) 684-24-63</a>
                </div>
                <ul class="social-links">
                    <li><a href="#"><img src="images/viber.svg" alt=""></a></li>
                    <li><a href="#"><img src="images/telegram.svg" alt=""></a></li>
                    <li><a href="#"><img src="images/whatsapp.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>